header {
  width: 100%;
  height: 60px;
  background-color: var(--color3);
  display: flex;
  justify-content: center;
}
header main {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .title-container p {
  color: var(--color2);
  font-size: 30px;
  font-family: "Rubik Glitch Pop", system-ui;
}
main .bar-container i {
  color: var(--color2);
  font-size: 30px;
}
