/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --color0: #20dfff;
  --color1: #20c4d8;
  --color2: #145c82;
  --color3: #120b13;
  --color4: #122c45;
  --color5: #1d8cca;
}
/* 
.rubik-glitch-pop-regular {
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 400;
  font-style: normal;
} 
  
.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}
  .rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/
